[2020-07-07 16:04] piotr-s-brainhub commented on #162
@EthanDamien

Not yet, if it was integrated, this issue would be closed.

We're planning to release this feature in the new major release.

[2020-07-07 16:20] EthanDamien opened #587 "Carousel Overlay?"
Hi, I am new to react and my first project is to create a fake emulator of ios, I am trying to implement a lock screen, home screen, and sortable apps. To do this, I am attempting to create pages via the react carousel. so the user can swipe the web app but I don't think this works on anything but images? Is there a way I can try to make it so it works with components?

Honestly, react is a lot mo

[2020-07-07 16:34] piotr-s-brainhub commented on #587
@EthanDamien

It's great you're using react-carousel for such a project. I hope it'll be useful and maybe we'll add a link to it from our README or docs.

I know, react-carousel can also work with `div` instead of an image but for more complex components there can be some problems like https://github.com/brainhubeu/react-carousel/issues/585

[2020-07-08 01:59] briankosw opened #588 "Displaying less thumbnails than total amount of thumbnails"
**Is your feature request related to a problem? Please describe.**
If a user wants to display lots of images in the carousel (e.g. display 100 images), it would be ill-advised to set the `number` parameter for `Dots` to 100 and display 100 thumbnails. If the user chooses a smaller number of thumbnails, such as 10, to display at once, then there should be a feature to swap out the thumbnails when t

[2020-07-08 13:25] piotr-s-brainhub commented on #588
@briankosw

Thanks for your suggestion.

I invite you to open a PR. You can also invite your friends to like (👍) this issue, so more 👍 it has, it's more likely to be fixed by us.

However, currently, we're doing a major refactor so we want any new features to be implemented after the refactor.

[2020-07-08 21:07] mhatvan commented on #394
@piotr-s-brainhub I took a look at this and there are a couple options to solve this:

I think an easy way of fixing this would be to add `box-sizing: content-box;` for `.BrainhubCarouselItem`. That would mean that `box-sizing: border-box;` will get overwritten in general for that element.

Even better way would be to set `box-sizing: border-box;` only when there is "offset" and "centered" prop se

[2020-07-08 21:20] piotr-s-brainhub commented on #394
@mhatvan

thanks for your ideas

[2020-07-08 21:26] mhatvan commented on #394
It is up to you which way of proceeding here you prefer. Then I can provide you with a PR.

[2020-07-09 07:20] mhatvan commented on #449
Here is a working example in codesandbox: https://codesandbox.io/s/react-playground-lmxv0

The problem at hand is, that when `value` prop is set by user, `isControlled` is true, therefore looking for `onChange` prop which the user might forgot, leading to the `onChange is not a function` error.

Like can be seen in the example below, I would suggest to either `console.warn` the user or more strict

[2020-07-09 14:23] KishokanthJeganathan commented on #549
@piotr-s-brainhub I had this issue as well and upgraded to 1.19.14 but the issue is still there :/

[2020-07-09 22:33] piotr-s-brainhub commented on #585
@RamiMustaklem

Are you able to provide a sandbox?

I've created https://codesandbox.io/s/angry-wozniak-c0yd8?file=/src/App.js but I get:
<img width="908" alt="Screenshot 2020-07-10 at 00 31 55" src="https://user-images.githubusercontent.com/20856232/87097164-daa48080-c244-11ea-9d64-eb4af1c08cdb.png">

but even for simple divs, I get:
<img width="944" alt="Screenshot 2020-07-10 at 00 33 26" src="h

[2020-07-09 22:39] piotr-s-brainhub commented on #449
@mhatvan

I don't understand your question clearly.

For me it's obvious, `onChange` should be called with the value of the `value` props.

[2020-07-09 22:41] piotr-s-brainhub commented on #394
@mhatvan

For me:
[code]
sounds the best but I'll ask my team.

[2020-07-09 22:47] albanyacademy commented on #394
why not use getComputedStyle of the slide element?
[code]

[2020-07-09 22:48] albanyacademy commented on #394
you don't have to iterate over every stylesheet, just the element. does mean potentially some rendering flashing but it can be mitigated

[2020-07-09 22:54] albanyacademy commented on #394
personally i'd prefer something that doesn't override any global stylings i've already set, but using margins instead is common in a lot of other sliders

otoh adding a "what box-sizing you're using" option in the slider config would provide some flexibility that most other sliders don't have and eliminate the need to do any checking of the DOM at all. maybe overkill but i think it'd be cool

[2020-07-09 23:13] #389 closed

[2020-07-10 06:08] mhatvan commented on #394
@albanyacademy ah cool, didn't know about it working with `getComputedStyle`, thanks for the info ;)

@piotr-s-brainhub Discuss the possible options:
- margin instead of padding
- box sizing prop
- overriding border box with content box when "offset" and "centered" props are set
- maybe more?

with your team and tell us of the decision!

[2020-07-10 06:17] mhatvan commented on #449
@piotr-s-brainhub I will try to be more clear:
`e.props.onChange is not a function` error occurs when user set `value` prop, BUT forgot to provide a custom `onChange` function as prop which is necessary for a controlled component.

I adapted the initial codebox example from the issue author and only added `onChange={setCurrentSlide}` to `<Carousel />` and it all works then.

I think the only way y

[2020-07-10 11:13] RobertHebel commented on #549
@KishokanthJeganathan could you post:

* the entire file which causes this error
* stacktrace

[2020-07-10 11:56] piotr-s-brainhub commented on #449
IMO it should still work even without `onChange` being set but maybe `console.warn` would be good. I'll confirm that with my team.

[2020-07-10 14:56] RobertHebel commented on #539
@piotr-s-brainhub @zhengkaidi  As readme says

This prop prevents accidental clicks when the carousel has links as slides.

More details here: https://github.com/brainhubeu/react-carousel/issues/131

[2020-07-10 15:24] RobertHebel commented on #339
@jaworek I've created a PR with carousel plugins support. Still, there are some elements that can't be modified but I think it's a step forward
https://github.com/brainhubeu/react-carousel/pull/586

[2020-07-10 15:37] #514 closed

[2020-07-10 18:32] mhatvan commented on #449
No, a controlled component can't work without `onChange`, you can see an example from React here: https://reactjs.org/docs/forms.html#controlled-components

When you remove the `onChange` prop, React throws this message at you in the dev tools:

"Warning: Failed prop type: You provided a `value` prop to a form field without an `onChange` handler. This will render a read-only field. If the field sh

[2020-07-10 19:02] piotr-s-brainhub commented on #449
An example applicable in the docs:
[code]
<img width="985" alt="Screenshot 2020-07-10 at 21 02 02" src="https://user-images.githubusercontent.com/20856232/87189267-a2f31280-c2f0-11ea-81a5-f4b07006863c.png">

[2020-07-10 19:06] piotr-s-brainhub commented on #449
However, without the `value` set, I get the same error, and even when I define `onChange`, I get this error.

<img width="1209" alt="Screenshot 2020-07-10 at 21 06 22" src="https://user-images.githubusercontent.com/20856232/87189616-3c222900-c2f1-11ea-8878-3e22cf0597c2.png">

[2020-07-10 19:55] rodriguezmarting commented on #549
I had the same issue using [Fluent UI framework](https://developer.microsoft.com/es-es/fluentui).
If the root element of my component is a `<Card>` I cant use it in the carousel.
After changing it to `<div>` it works fine.

[2020-07-11 13:01] toughyear opened #592 "Next.JS issue with build vs local dev"
**Bug description**
I am working with react-carousel in NextJS. Even when I am using dynamic import with ssr:false, The build UI looks strange but the dev UI is perfectly fine.

dev UI -

![](https://user-images.githubusercontent.com/38691925/87044134-c09e7a00-c213-11ea-8a40-b00857110f57.png)

I have recreated it in Codesandbox too (this one is for dev environment is running `npm run dev`)-
https:

[2020-07-11 18:08] piotr-s-brainhub commented on #592
hi @toughyear

thanks for reporting this,

could you create a repo on GitHub with that code so I could clone it and run locally these commands?

[2020-07-11 18:15] toughyear commented on #592
@piotr-s-brainhub  Here is the repo - https://github.com/toughyear/curate

[2020-07-11 21:39] piotr-s-brainhub commented on #592
@toughyear
I see something other than you on `yarn start` after `yarn build`:
<img width="982" alt="Screenshot 2020-07-11 at 23 32 56" src="https://user-images.githubusercontent.com/20856232/87234199-123f3400-c3cf-11ea-8a5b-afeea5483430.png">

However, on `yarn start` I see a large empty space between the top and the bottom of the site when scrolling in contrary to the `yarn dev`.

This issue migh

[2020-07-12 07:48] toughyear commented on #592
@piotr-s-brainhub I tried using the instructions from https://github.com/brainhubeu/react-carousel#ssr but to no avail. Can you point to a example Github repo where the react-carousel is working with NextJS after build?

[2020-07-13 13:40] piotr-s-brainhub commented on #394
@mhatvan our team decided to use `margin instead of padding`

[2020-07-13 22:46] kelyvin commented on #581
+1

 I am seeing this warning in the chrome developer console when react-carousel loads.

![Screen Shot 2020-07-13 at 3 45 56 PM](https://user-images.githubusercontent.com/1530102/87360954-06af5280-c520-11ea-9970-db9558f21949.png)

[2020-07-14 00:04] piotr-s-brainhub commented on #581
@kelyvin so I invite you to like (👍) this issue we could compare issues by the number of 👍

[2020-07-14 00:06] kelyvin commented on #581
You got it!

[2020-07-14 01:19] vi-nastya opened #595 "First transition is not animated for 2 slides"
**Describe the bug**
First transition is not animated for the case of 2 slides, 1 item per row and not infinite slider.

**To Reproduce**
1. Go to https://brainhubeu.github.io/react-carousel/docs/examples/multipleItems
2. Without touching the slider, paste this code in the live JSX editor:
[code]

3. In the updated slider, click on the right arrow
4. no animation happens
5. subsequent slide transi

[2020-07-14 11:09] pdugan20 commented on #549
Here's what I'm getting:

[code]

Error started appearing in any version after 1.18.8.

[2020-07-14 13:33] #394 closed

[2020-07-14 14:39] piotr-s-brainhub commented on #595
@vi-nastya

Thanks for reporting this. I guess we haven't noticed this before because almost nobody uses a carousel with only 2 slides. However, IMO it's worth to be fixed.

You're welcome to open a PR if you know how to fix this.

[2020-07-14 15:37] piotr-s-brainhub commented on #592
@toughyear

Sorry but I don't have enough time for that.

Could you open a separate issue about creating such an example repo?

[2020-07-14 15:38] piotr-s-brainhub commented on #581
thanks @kelyvin

[2020-07-15 15:22] meysamizadmehr commented on #501
I can reproduce it on `1.19.17`. Is it released?

[2020-07-15 15:37] piotr-s-brainhub commented on #501
@meysamizadmehr

not yet, if it was fixed, the GitHub issue would be closed

[2020-07-16 09:01] hauph opened #597 ""offset" prop does not work on "breakpoints""
**Describe the bug**
"offset" prop does not work on "breakpoints"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://brainhubeu.github.io/react-carousel/docs/examples/responsive
2. On LIVE JSX EDITOR, add `offset: 10` inside `900` object
[code]
3. Scale down the screen width below 900px, props `slidesPerPage` and `arrows` are applied, but `offset` is not

**Expected behavior**
Acc

[2020-07-17 14:09] toughyear commented on #592
You can close this issue, I have found a solution. There was a conflict with PurgeCSS.

[2020-07-17 14:09] #592 closed

[2020-07-17 14:10] toughyear commented on #592
Solved - added relevant CSS files (both, styles.css and styles.css.map into the whitelist of PurgeCSS).

[2020-07-17 18:45] piotr-s-brainhub commented on #592
nice to hear that

[2020-07-18 20:39] piotr-s-brainhub commented on #298
aayush420

I leave the brainhubeu organization so I must remove the IssueHunt funding as it's only me who's able to manage these funds.

Moreover, the team decided on Thursday about stopping using IssueHunt but as you've already opened a PR maybe they'll agree to reward you. Please ask @RobertHebel , @humbak, @Lukasz-pluszczewski or other brainhubeu organization members.

[2020-07-18 20:41] piotr-s-brainhub commented on #501
@Romcol

I leave the brainhubeu organization so I must remove the IssueHunt funding as it's only me who's able to manage these funds.

Moreover, the team decided on Thursday about stopping using IssueHunt but as you've already opened a PR maybe they'll agree to reward you.

[2020-07-18 21:17] piotr-s-brainhub commented on #501
@Romcol

As your work is already on https://github.com/brainhubeu/react-carousel/pull/537, you can try reaching out @RobertHebel , @humbak or @Lukasz-pluszczewski or another brainhubeu organization member in order to be rewarded on IssueHunt.

[2020-07-18 23:03] piotr-s-brainhub commented on #597
@hauph

Thanks for reporting this. Unfortunately, it seems we have many problems with the `offset`.

Anyway, I invite you to open a PR if you're able to fix this.

[2020-07-18 23:06] piotr-s-brainhub commented on #549
@pdugan20

thanks but could you also post the entire file causing this error?

[2020-07-19 02:45] zkwentz commented on #549
Can confirm.

[2020-07-19 04:11] aayush420 commented on #298
Hey @piotr-s-brainhub please merge and close #608 . It has the fix you need. You forgot to add the new prop **stickyEdges** to your code. And hey, why did you remove funding on issuehunt after the PR is submitted?

[2020-07-19 22:47] piotr-s-brainhub commented on #298
@aayush420

For me, it doesn't work correctly.

As I've previously mentioned, I'm leaving the brainhubeu organization so nobody would be able to reward it on IssueHunt.

Please contact @RobertHebel , @humbak, @Lukasz-pluszczewski, or other brainhubeu organization members so maybe one of them will re-assign funding and reward it to you.

[2020-07-20 08:18] hauph commented on #597
I have not checked your source code, but anyway I was able to make this work with the following trick:

[code]

<u>P/S</u>: I am using version 1.19.16

[2020-07-20 10:18] RobertHebel commented on #597
Thanks for posting this workaround. In the upcoming days, I will try to create a fix for that issue

[2020-07-20 11:19] Alex-TLA commented on #549
Works for me in 1.19.22

[2020-07-20 11:40] pdugan20 commented on #549
@piotr-s-brainhub sure!

I'm importing into next as follows:
[code]

and then the actual carousel component looks like:
[code]

Still getting the same error on  1.19.22.

[2020-07-20 13:00] RobertHebel commented on #549
@rodriguezmarting I prepared a fix which should fix the problem with divs which you have described. I'll let you know when it will be available to download via npm

[2020-07-20 15:05] RobertHebel commented on #540
@piotr-s-brainhub distance to change slide equals 50% of slide width. To change that behavior you can use `keepDirectionWhenDragging` prop.

minDraggableOffset allows users to click on a slide that contains a link and its default value is sufficient for all cases. That's why it will be removed in the carousel v2

[2020-07-20 15:05] #540 closed

[2020-07-21 08:28] Romcol commented on #501
Hi,

Cool. How should I reach you? Thanks

[2020-07-21 18:53] RobertHebel commented on #320
@piotr-s-brainhub there is an option `stopAutoPlayOnHover` in carousel v1. A similar option exists in carousel v2. Currently, we don't have plans to modify this option.

[2020-07-21 18:53] #320 closed

[2020-07-21 18:59] RobertHebel commented on #327
If it won't work when the vertical plugin will be implemented please reopen this issue. Closing for now

[2020-07-21 18:59] #327 closed

[2020-07-21 19:04] RobertHebel commented on #328
We don't have plans to add new features in carousel v1. In carousel v2 you can implement requested behavior by creating your own custom plugin https://brainhubeu.github.io/react-carousel/docs/plugins/creatingCustomPlugins

[2020-07-21 19:04] #328 closed

[2020-07-21 19:08] RobertHebel commented on #251
Closing as I can't reproduce this issue anymore. Please reopen if you'll manage to reproduce it

[2020-07-21 19:08] #251 closed

[2020-07-21 19:09] RobertHebel commented on #326
We don't have plans to add new features in carousel v1. In carousel v2 you can implement requested behavior by creating your own custom plugin https://brainhubeu.github.io/react-carousel/docs/plugins/creatingCustomPlugins

[2020-07-21 19:09] #326 closed

[2020-07-21 19:11] RobertHebel commented on #325
As @Lukasz-pluszczewski  there is no need to complicate our API when you can implement this feature in your slide component

[2020-07-21 19:11] #325 closed

[2020-07-21 19:14] RobertHebel commented on #318
We don't have plans to add new features in carousel v1. In carousel v2 you can implement requested behavior by creating your own custom plugin https://brainhubeu.github.io/react-carousel/docs/plugins/creatingCustomPlugins

[2020-07-21 19:14] #318 closed

[2020-07-21 19:24] RobertHebel commented on #324
You can achieve this behavior in a controlled carousel component. You can get the percentage by dividing the current value by the total number of slides. That's why I think we don't need to introduce it as a separate feature.

[2020-07-21 19:24] #324 closed

[2020-07-21 19:25] RobertHebel commented on #319
sorry @piotr-s-brainhub but we don't have plans to introduce this feature to carousel v1

[2020-07-21 19:25] #319 closed

[2020-07-21 19:26] RobertHebel commented on #329
I agree with @Lukasz-pluszczewski. Closing

[2020-07-21 19:26] #329 closed

[2020-07-21 19:38] RobertHebel commented on #321
Closing because #320 is closed

[2020-07-21 19:38] #321 closed

[2020-07-21 19:40] #478 closed

[2020-07-21 19:41] RobertHebel commented on #454
Fixed in carousel v2

[2020-07-21 19:41] #454 closed

[2020-07-21 19:44] RobertHebel commented on #331
@piotr-s-brainhub Sorry, we decided we won't have this feature in react-carousel

[2020-07-21 19:44] #331 closed

[2020-07-21 19:46] RobertHebel commented on #334
IMO uploading files should be handled by other components than react-carousel. Closing.

[2020-07-21 19:46] #334 closed

[2020-07-21 19:47] RobertHebel commented on #333
sorry, @piotr-s-brainhub we decided we won't have this feature in react-carousel

[2020-07-21 19:47] #333 closed

[2020-07-21 19:48] RobertHebel commented on #380
We don't have plans to add new features in carousel v1. In carousel v2 you can implement requested behavior by creating your own custom plugin https://brainhubeu.github.io/react-carousel/docs/plugins/creatingCustomPlugins

[2020-07-21 19:48] #380 closed

[2020-07-21 19:50] RobertHebel commented on #335
Sorry @piotr-s-brainhub we don't have plans to implement this feature

[2020-07-21 19:50] #335 closed

[2020-07-21 19:51] RobertHebel commented on #543
I believe this is https://github.com/brainhubeu/gatsby-docs-kit issue, not react-carousel. Please reopen this issue in the correct repo

[2020-07-21 19:51] #543 closed

[2020-07-21 19:52] RobertHebel commented on #381
sorry @piotr-s-brainhub we decided we won't implement this issue in the react-carousel

[2020-07-21 19:52] #381 closed

[2020-07-21 19:53] RobertHebel commented on #382
sorry @piotr-s-brainhub we decided we won't implement this feature

[2020-07-21 19:53] #382 closed

[2020-07-21 19:54] RobertHebel commented on #332
sorry @piotr-s-brainhub we decided we won't implement this feature

[2020-07-21 19:54] #332 closed

[2020-07-21 19:55] RobertHebel commented on #488
@piotr-s-brainhub sorry, we decided we won't implement this feature

[2020-07-21 19:55] #488 closed

[2020-07-21 19:56] RobertHebel commented on #336
@piotr-s-brainhub sorry, we decided won't implement this feature

[2020-07-21 19:56] #336 closed

[2020-07-21 19:59] RobertHebel commented on #330
@piotr-s-brainhub sorry we decided we won't implement this feature

[2020-07-21 19:59] #330 closed

[2020-07-21 20:01] RobertHebel commented on #377
You can achieve this behavior by using the `offset` prop

[2020-07-21 20:01] #377 closed

[2020-07-21 20:03] RobertHebel commented on #341
@piotr-s-brainhub it's fixed in v1 and still needs to be fixed in v2

[2020-07-21 20:04] RobertHebel commented on #483
Duplicate of https://github.com/brainhubeu/react-carousel/issues/323

[2020-07-21 20:04] #483 closed

[2020-07-21 20:08] RobertHebel commented on #420
Fixed in v2 docs

[2020-07-21 20:08] #420 closed

[2020-07-21 20:09] #339 closed

[2020-07-21 20:11] RobertHebel commented on #491
Solved. Closing

[2020-07-21 20:11] #491 closed

[2020-07-21 20:13] RobertHebel commented on #497
@R1cro it's possible in carousel v2 (currently in beta). More details here https://brainhubeu.github.io/react-carousel/docs/plugins/plugins#infinite-plugin

[2020-07-21 20:13] #497 closed

[2020-07-21 20:19] #539 closed

[2020-07-22 11:04] RobertHebel commented on #449
I think we can go with this solution

[2020-07-22 11:07] RobertHebel commented on #581
The issue has been fixed in v1.19.23. If the problem will occur for you please let me know and I will reopen this thread

[2020-07-22 11:07] #581 closed

[2020-07-22 12:43] RobertHebel commented on #549
@pdugan20 does v1.19.24 works for you?

[2020-07-22 13:13] RobertHebel commented on #484
@piotr-s-brainhub we decided we won't introduce this feature in carousel v1.

[2020-07-22 13:13] #484 closed

[2020-07-22 13:15] RobertHebel opened #616 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `v2-beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2020-07-22 13:18] pdugan20 commented on #549
@RobertHebel yeah! looks like it's working again. thanks for your help! what ended up being the root cause?

[2020-07-22 18:28] jefferymills commented on #497
Would a PR making this changeable through props get accepted for release before 2.0? We currently experience crashes on some IOS devices and in our case we don't need that many clones. I would be happy to add it if it would get merged. If not then we can work around it until 2.0 is released.

[2020-07-22 18:55] RobertHebel commented on #616
## :rotating_light: The automated release from the `v2-beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2020-07-22 19:24] #616 closed

[2020-07-23 09:21] RobertHebel commented on #298
@aayush420 We are working on restoring funding for already opened PRs. On the next Thursday, I will be able to re-assign money for this issue. Is it ok for you to wait for the funding one week?

And regarding bug @piotr-s-brainhub has mentioned it's not caused by your code so I think everything looks 👍 .

[2020-07-23 09:21] RobertHebel commented on #501
@Romcol We are working on restoring funding for already opened PRs. On the next Thursday, I will be able to re-assign money for this issue. Is it ok for you to wait for the funding one week?

[2020-07-23 09:56] RobertHebel commented on #549
@pdugan20 This code has caused the problem
[code]

It has cloned element when childrenRef had null value

after changing this code to

[code]

it works

[2020-07-23 09:56] #549 closed

[2020-07-23 12:14] RobertHebel opened #617 "Make TypeScript Definitions for carousel v2"
**Is your feature request related to a problem? Please describe.**
Because of changes, we made in carousel v2 (removing props, adding new ones, adding plugins) we need to update our types definitions

**Describe the solution you'd like**
An updated version of d.ts for carousel v2 in https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/brainhubeu__react-carousel

[2020-07-24 05:56] RobertHebel commented on #511
@jonyw4 from version 2.0 each release will contain release notes. Semantic-release is already on `rc` branch

[2020-07-24 05:56] #511 closed

[2020-07-24 06:30] #341 closed

[2020-07-24 12:02] kingRayhan opened #619 "Multiple slides not showing"
I tried to show multiple item at a time by this example
https://brainhubeu.github.io/react-carousel/docs/examples/multipleSlides

I get one slide always.

Here is the sandbox where I tried to explore
https://codesandbox.io/s/react-carousel-666fs?file=/src/App.js:252-1571

[2020-07-26 17:26] mxdi9i7 commented on #597
@RobertHebel Hello, I'm also having trouble with offset, has there been an update on this issue?

[2020-07-27 09:51] #619 closed

[2020-07-27 09:53] RobertHebel commented on #619
The docs on the master branch were referring to the carousel v2 which will be released soon. Now they are referring v1 version again

[2020-07-27 09:54] RobertHebel commented on #597
@mxdi9i7 I will work on fixing this today

[2020-07-27 12:49] RobertHebel commented on #597
@mxdi9i7 @hauph The issue should be fixed in v1.19.25. Does it work for you?

[2020-07-27 12:53] RobertHebel commented on #585
Probably this the same issue as described here https://github.com/brainhubeu/react-carousel/issues/549

@RamiMustaklem does the newest version works for you?

[2020-07-27 12:55] RobertHebel commented on #617
Currently, types for v2 are accessible on this repo https://github.com/RobertHebel/DefinitelyTyped/tree/master/types/brainhubeu__react-carousel

After v2 release, I will create PR for DefinitlyTyped repo

[2020-07-29 05:15] wilo087 commented on #617
@RobertHebel Would you explain how use Types from this repo?

Could you give me an example?

[2020-07-29 08:54] RamiMustaklem commented on #585
@RobertHebel @piotr-s-brainhub

Nope. Tried 1.19.25 and 2.0.0 none of them worked. Still 0 height when using Gatsby-Image.

[2020-07-30 13:16] RobertHebel commented on #298
@aayush420 issue hunt for this issue will be recovered tomorrow, sorry for the delay also I've found one bug regarding stickyEdges prop on your PR

[2020-07-30 13:20] RobertHebel commented on #501
Issuehunt for this issue will be restored tommorow

[2020-07-30 14:27] RobertHebel commented on #617
I've created PR with new typings for carousel 2.0
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46433

[2020-07-30 14:33] RobertHebel commented on #617
@wilo087, For now, if you want to use types for carousel 2.0 you need to add your own declarations, or you can use carousel v1 which already has typescript support

[2020-07-30 14:36] RobertHebel commented on #597
@mxdi9i7 @hauph I'm closing this issue as I can't reproduce this bug anymore. If the problem will reoccur please write a message in this thread

[2020-07-30 14:36] #597 closed

[2020-07-30 14:39] RobertHebel commented on #587
It seems it's similar issue as described here: https://github.com/brainhubeu/react-carousel/issues/585

[2020-07-30 16:12] aayush420 commented on #298
Hey, Nice catch! #626 Addresses this new bug.

[2020-08-02 14:25] DarkHorse1997 opened #633 "App throws error on Building with npm run build"
**Describe the bug**
After I build my app which is using react-carousel for production using `npm run build`, it gives an error when I try to open the page where react-carousel is used.
The error screenshots are provided below

**Expected behavior**
To render the page as it appears during development.

**Screenshots**
![image](https://user-images.githubusercontent.com/22052923/89125002-e3613d00-d4

[2020-08-04 06:34] RobertHebel commented on #633
Hi @DarkHorse1997
Thanks for reporting this issue. Unfortunately, now I don't have time to resolve this issue. If you know how to fix this please submit PR, otherwise, I will work on fixing this on next Friday

[2020-08-06 19:58] cnavarro-cafeto commented on #633
Hey @RobertHebel I'm having the same error after build with yarn. Also v. 2.0.1 used here.

[2020-08-09 18:50] mfaheemakhtar commented on #595
Will be happy to take this (and probably some others) issue(s). But looks like there is a v2 released and I don't find the old docs.

[2020-08-10 20:55] royleochan opened #634 "App throws error on running Gatsby Build"
**Describe the bug**
Hi I am making an app using the react-carousel but am getting the following error in my build log: "Building static HTML failed for path "/projects/". When I go to the react error decoder, the full text of the error i encounter is Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.

When I comment

[2020-08-15 21:55] catkeck opened #635 "Allow carousel to stop scrolling when nothing new will show"
Currently if the carousel has scrolled to the last slide, and you are showing several slides at a time, you can just keep scrolling until that last slide is all the way to the left. It'd be useful if you had the option to let it stop scrolling once there are no more slides to show, for a better user experience.

So, stop here:
<img width="1058" alt="Screen Shot 2020-08-15 at 5 54 21 PM" src="https

[2020-08-18 09:00] taijuten opened #636 "Update to children elements (slides) are not rendered"
**Describe the bug**
If a child element is updated (in this case, a className) this is not re-rendered.

**To Reproduce**
Steps to reproduce the behavior:
* Go to Live JSX editing on demo page (e.g.)
* Paste in the following
[code]

**Expected behavior**
On click of each image, it should apply an `active` class.
This is not the case. According to React debug this is passing correct props, but not

[2020-08-18 12:18] GnanaAjana opened #637 "Arrow button is not displaying"
I tried simple example provided in this [docs](https://brainhubeu.github.io/react-carousel/docs/plugins/plugins). arrow icon is not showing.

So previous and next image i can't able to move

[2020-08-18 18:27] andreynering commented on #637
The same here

Arrows are not showing at all, not matter if using the default arrows or custom ones

[2020-08-20 03:03] Wekananda commented on #637
Same here, also all plugins can't be loaded

[2020-08-20 03:41] ybruce61414 opened #638 "Multiple carousels autoplaying failed"
There is only one carousel work(autoplay) when Multiple carousels emerge.

[2020-08-25 17:28] thelittlehawk commented on #637
Have you tried following
`
<Carousel
    arrows
/>
`

[2020-08-27 15:33] GnanaAjana commented on #637
May i know how to give custom arrows?

[2020-08-27 17:24] helloalexdodd commented on #637
Having the same issue. It looks like only the v1 way is working right now.

[2020-08-28 14:25] soly2014 commented on #637
same here

[2020-08-31 18:56] znmto commented on #637
Also having this issue and using `arrows` staggers all the images into a single view:

![image](https://user-images.githubusercontent.com/1846500/91755964-f6b80480-eb99-11ea-8425-1b166838ad3b.png)

[code]

[2020-09-01 04:18] GnanaAjana commented on #110
onMouseDown - event

there is e.preventDefault() -> it restricts the onChange event for form

[2020-09-08 23:39] pklepa commented on #637
I was having the same problem and this solved! I also customized the arrows by overriding its class in CSS.

[2020-09-15 15:31] Vladis466 commented on #637
I belive thats because the package is defaulting to installing version 1.

[2020-09-15 15:44] al13bash commented on #637
@Vladis466 I've explicitly installed version 2 and still had similar issues

[2020-09-20 00:48] andreecosta commented on #637
Yep, you are right. I've installed using npm install @brainhubeu/react-carousel@2.0.1 and I can see the arrows now.
Thanks!

[2020-09-20 20:23] sashaslow commented on #633
is anyone working on this?

[2020-09-20 23:14] eliaskh opened #641 "onClick on carousel"
Hello i want to ask, i am using your carousel, and with map i am return images for the carousel, is there any way to show the active image, with other css, like active button ? div:active ?

[2020-09-21 19:36] alexleone commented on #634
Any luck, this is happening to me on nextjs.

[2020-09-23 04:46] akochnev commented on #633
I just ran into this issue as well - very unfortunate. One thing that is puzzling me at this point is why, after doing a production build (e.g. with NODE_ENV properly set to production), the Carousel still ends with a dependency on recoil.development.js (as shown in the stack trace). All other dependencies , as expected, are the production dependencies.

Any tips on how to proceed on fixing this -

[2020-09-23 04:47] ChasinHues commented on #637
This also solved my issue. Using yarn:

[code]

Using `@^` shows a list of available versions for you to choose from. I chose 2.0.1 (latest).

[2020-09-23 18:40] yannbf commented on #244
For anyone stumbling upon this issue, you can add this to your page's css and should be enough:
[code]

@piotr-s-brainhub I'm not sure if this is a desirable fix to do in this lib directly, given that it does not allow users to start scrolling vertically if they touch the carousel container. It works nicely though. :)

[2020-09-24 20:40] AdrielD opened #642 "Carrosel causes a rerender of inputs passed as slider, causing them to reset / not update state"
I tried using this as slider for a table component I have. Maybe it's out of the scope of this component, but here's what happened.

**Describe the bug**
When using a controlled input as a slide (or inside one), Carousel causes it to re-render, reseting it's state. It's not possible to type more than a few characters, before the input is reendered.

**To Reproduce**
At the live editing demo page (

[2020-09-24 23:24] ArmenKakosyan opened #643 "App throws a findDOMNode warning in StrictMode"
**Describe the bug**
Throws a findDOMNode warning in console in StrictMode

**To Reproduce**
Steps to reproduce the behavior:
1. Put your component which uses the Carousel in React.StrictMode
2. Open the browser's console
4. See warning

**Expected behavior**
No to show any warnings

**Screenshots**
![carousel-findDOMNode-error](https://user-images.githubusercontent.com/44756394/94209893-6b9f0580-

[2020-09-26 19:25] ishan28mkip commented on #642
I am facing the same issue, cannot update the state of the component inside the carousel. Maybe it is only made for simple images

[2020-09-26 22:56] ishan28mkip opened #644 "Add ability to re-render components in the carousel when their props change"
[code]

When the value in state changes for the parent component it should also show in X component.

The fix that I feel should be added,
https://github.com/brainhubeu/react-carousel/blob/cca4f55faa8cab3d4f7d258580b771ecb6b794b3/react-carousel/src/components/Carousel.js#L151

We can just change this to,
`
  useEffect(() => {
    setSlides(children);
  }, [children]);
`

Whenever children change t

[2020-09-26 23:02] ishan28mkip opened #645 "Components inside carousel don't re-render on prop change"
[code]

When the value in state changes for the parent component it should also show in X component.

The fix that I feel should be added,
https://github.com/brainhubeu/react-carousel/blob/cca4f55faa8cab3d4f7d258580b771ecb6b794b3/react-carousel/src/components/Carousel.js#L151

We can just change this to,
`
  useEffect(() => {
    setSlides(children);
  }, [children]);
`

Whenever children change t

[2020-09-27 01:11] #644 closed

[2020-09-27 01:13] ishan28mkip commented on #633
I can work on this, anywhere to start with?

[2020-09-27 01:32] ishan28mkip commented on #642
https://github.com/brainhubeu/react-carousel/issues/645 : Maybe this fixes the issue

[2020-09-28 19:42] mnelemans commented on #633
I've encountered the same error in all 2.0.0+ versions, regardless of which recoil version I install. I am able to successfully build with this version `@brainhubeu/react-carousel@1.19.26`, but this in turn breaks plugins (an unfortunate trade off).

I first assumed it came from Recoil due to an old dependency of some sorts (see also: https://github.com/facebookexperimental/Recoil/issues/122) but

[2020-09-28 22:54] akochnev commented on #633
@mnelemans  - I did try messing around with recoil versions and had similar results.

My other suspicion was the fact that the production build of my app ends up using the development version of recoil (instead of using the prod one). I haven't been able to change that - any ideas why that might be the case ?

[2020-09-29 12:00] mnelemans commented on #633
I think I have discovered both issues, with the root cause being a webpack conflict. Please checkout my PR (https://github.com/brainhubeu/react-carousel/pull/646) to see if it solves the issue for you guys as well.

[2020-09-29 12:57] ishan28mkip commented on #633
@mnelemans I tried your change and still I am getting the same build error. To be sure I cloned your repo, ran yarn install, copied the code from react-carousel/lib into my own project.

[2020-09-29 13:08] mnelemans commented on #633
Thanks for the heads up, my bad! Seems I had the bumped Recoil in my package.json that imports Carousel. I'll push the bumped version to the PR as well, as that does seem to fix it.

[2020-09-29 13:09] mnelemans commented on #633
Thinking about this a bit more, it is probably related to the incorrect development mode setting in the webpack config. Looking at the latest Recoil they stopped using recoil.development.js which is probably why it fixes the issue.

[2020-09-29 13:18] mnelemans commented on #633
Please try again with the latest commit (https://github.com/brainhubeu/react-carousel/pull/646/commits/7815c7e3745a4198a71eb7c7648f638236dd45a0) in my PR. It seems bumping recoil to at least `^0.0.11` fixes the read-only issue, while setting webpack to use production mode correctly ensures it reads from the production version.

[2020-09-29 16:18] ishan28mkip commented on #633
@mnelemans Amazing. It works now. The recoil bump was enough to make it work. You might as well bump the recoil version to the latest version 0.0.13, checked it works for that version as well.

[2020-10-03 10:44] tsanyqudsi opened #648 "Error when refresh - Cannot update a component while rendering a different component"
**Describe the bug**
`Warning: Cannot update a component (`Ne`) while rendering a different component (`hn`). To locate the bad setState() call inside `hn`, follow the stack trace as described in https://fb.me/setstate-in-render
    in hn
    in RecoilRoot`

**To Reproduce**
Steps to reproduce the behavior:
1. Install using v.2.0.1
2. Import and Implement the component
3. Refresh the page used by

[2020-10-04 15:48] tsanyqudsi commented on #648
Apparently i messed up my webpack.. loaded two `main.js` on my page.

Fixed it with adding `inject:false` on `HtmlWebPackPlugin`

[2020-10-04 15:48] #648 closed

[2020-10-05 11:03] jannikkeye commented on #637
Can confirm this with the latest version. No elements are rendered in the dom.

[2020-10-07 01:10] yangricardo opened #649 "Breakpoints not working due typescript Interface"
Hi,
I' am trying to use this lib in a typescript application. When i try to define the breakpoints, it fails to transpile from typescript with the following error:

[code]

My code is:

[code]

The Client component is just a div with a Card like layout. Without the breakpoint, it works.

Another thing i found, is the interface:

[code]
It's like there is something missing, to use the set breakpoin

[2020-10-08 13:01] liokaraz opened #650 "Props, number of item to show"
Hi,

Can we have as props the number of elements to display initially in the slide.

Thanks

[2020-10-08 19:27] bmathews opened #651 "`infinite` plugin overrides `fastSwipe` behavior"
**Describe the bug**
`infinite` plugin overrides `fastSwipe` behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://brainhubeu.github.io/react-carousel/docs/examples/swipingSlides
2. Swipe left/right, observe fastSwipe behavior not working as expected
3. Remove 'infinite' from example, observe fastSwipe behavior working

**Expected behavior**
fastSwipe + infinite should be c

[2020-10-09 07:15] liokaraz opened #652 "The animation for slider does not works when we put the props value"
Hi,
The animation for slider does not works when we put the props value

Thanks

[2020-10-09 19:44] MarkoVlaic opened #653 "Carousel does not work on mobile"
The carousel works as expected on my laptop, even when I simulate a mobile screen (screenshot below). However when I test the site on my mobile network all of the carousel functionality is gone and the images get stacked one on top of the other like in the attached video.

I am rendering a simple controlled component with this code:
`<div className={styles.carouselContainer}>
      <ReactCarousel

[2020-10-09 20:08] MarkoVlaic commented on #653
As it often happens I found a solution quickly after posting the issue. In this case the solution was to add `width: 100%` to all of the images displayed in the carousel.

[2020-10-09 20:08] #653 closed

[2020-10-18 19:20] mehranabi opened #654 "Nested Sliders - Very Slow"
I have a Carousel of components, which each slide has a Carousel in it (about 10 slides, each has 3 slides).
And it's too slow and make browser stops working and ask to close the page!
Any workaround for performance improvement!?
Thanks

[2020-10-20 13:09] mafiusu opened #655 "How to easily change the style of the arrows?"
Hello community I've imported react-carousel and displayed the component. I was asking myself of how I can easily change the styles of the arrows? Is there any prop I can send it by components or is it handled by css and if yes, how? Many thanks already

[2020-10-22 07:40] lovrobiljeskovic opened #656 "`CarouselProps` plugins v2 not working with a typescript project"
**Describe the bug**
I've add the `react-carousel` and the `@types` package to my typescript project.

I've implemented the carousel as follows:

[code]
However none of the props seem to be applied. For reference, the `draggable` prop works as intended.
Am I missing something?

[2020-10-23 10:05] aleksbalev commented on #656
Same

[2020-10-29 11:20] alexjfno1 commented on #251
I'm still getting this issue, i'm on Chrome 86. The only way I found to fix it was to have a fixed size div around the Carousel with `width: 100vw` as using `100%` didn't work. Is there a solution to this issue?

[2020-10-30 18:27] iceColdChris commented on #656
I am also running into this issue trying to use the arrow plugin, The command initially installed the typings for v2 but v1 of the library itself, Upon updating both to v2 I found that the plugins prop is being ignored

[2020-10-30 19:22] adiesel commented on #656
We have the same problem. We switched to v 1.19.26 to use the arrows =/

[2020-10-30 19:24] iceColdChris commented on #656
I found that this was the solution that worked for me as well

[2020-11-01 17:36] BoKKeR opened #657 "Loading (StaticQuery)"
**Describe the bug**
A clear and concise description of what the bug is.
Just visit the examples site: https://beghp.github.io/gh-pages-rc-v1/ and you get the `Loading (StaticQuery)
` error, seems to be from gatsby misconfiguration. Tried safari/chrome/vivaldi. I could swear that it worked yesterday

[2020-11-01 17:38] abhijithvijayan commented on #649
@yangricardo Did you figure this out?

[2020-11-01 19:42] Prasundas99 commented on #655
It is solely handed by css file present in node module

@brainhubeu/react-carousel/lib/style.css

Follow this path in css and customise the style with your need

Thank you.

[2020-11-03 16:11] hungdev opened #658 "Multiple slide doesnt show"
It only shows one slide.
here is my code

https://codesandbox.io/s/wonderful-thompson-jp3p1?file=/src/App.js:0-963

[code]

[2020-11-03 20:29] rubangarmon commented on #643
Any update about this?

[2020-11-04 12:04] 5tausend commented on #595
Maybe my solution can help.
We use three consecutive carousels and the first element does not contain a transition either, so the animation of element one to two is not executed. My solution that helped us looks like this:

[code]

[2020-11-04 12:06] 5tausend commented on #652
Maybe my solution can help.
We use three consecutive carousels and the first element does not contain a transition either, so the animation of element one to two is not executed. My solution that helped us looks like this:

[code]

[2020-11-04 14:22] reco commented on #658
looks like when you install you get the 1.x brach. see the migration guide and make sure you use the old settings.
https://brainhubeu.github.io/react-carousel/docs/migrationGuide

[2020-11-05 08:08] angelachan1997 commented on #658
Hi, I have the same issue and I'm not sure where should I refer to in the migration guide? I think the migration guide is talking about the code changes, while I use the new version of codes (with the plugins) and it's still not working. I also tried re-install the whole package, but it doesn't seem to work either.

Could you provide a clearer instruction on how to migrate? Thank you very much!

[2020-11-05 08:50] hungdev commented on #658
@reco i installed the latest version. Pls take a look my codesanbox

[2020-11-05 13:10] Sxoo opened #659 "Arrows proc Formik submit"
Hi,

Default arrow buttons don't have a type defined, so they automatically submit the Formik form (button type defaults to type="submit").

You should define the type of arrow buttons to "button".

[2020-11-07 02:02] HabibaGadalla commented on #636
i'm having the same issue

[2020-11-10 08:30] sinangurbuz commented on #658
Hi @hungdev ,

In your package.json file
"@brainhubeu/react-carousel": "1.19.26"
When you use "npm i @brainhubeu/react-carousel" it will setup this version (1.19.26). But you must use v.2

Install it manually;
"@brainhubeu/react-carousel": "2.0.1"

It solved my issue.
Have a nice day

[2020-11-10 08:34] hungdev commented on #658
@sinangurbuz you are right!
thank you.

[2020-11-10 08:34] #658 closed

[2020-11-10 14:00] dquanghuy4444 opened #660 "My project does not have a left arrow and a right arrow"
hi sir , i installed ur library , everything is okay but i dont see 2 arrows . i added ur code in https://brainhubeu.github.io/react-carousel/docs/examples/defaultArrows but still havent arrows . so could u solve me this issue ??
my project : https://github.com/dquanghuy4444/poshop-mobilestore
thank u so much

[2020-11-10 19:11] RaulTsc commented on #660
+1

[2020-11-12 17:46] chr0m1ng commented on #660
Same here, any plugin works for me

[2020-11-12 18:01] chr0m1ng commented on #660
Ok, just found out here that the npm install is pointing to the v1, that's why it isn't working, the docs are showing the v2 but not telling people to force the install!

Just to be sure that you're in v1, try this and you'll see the arrows:
[code]

Install the v2 and use the docs version and it should work!
[code]

[2020-11-12 18:04] chr0m1ng opened #661 "Npm pointing to v1"
The entire docs focus on v2 but the npm install command is pointing to v1!

I've already see a few issues that could be fixed just by pointing to the newest version.

Steps to repro:
[code]

Then the v1 is installed instead of v2

[2020-11-13 02:38] dquanghuy4444 commented on #660
ok sir , it's work . thanks u <3

[2020-11-13 16:33] 3dom-design commented on #585
Same issue here, with:
Node: v15.0.1
React: 16.8.6
Gatsby: 2.3.26
react-carousel: 1.19.26 - 2.0.1

Using @webbugt's workaround until fixed.

[2020-11-13 16:42] 3dom-design opened #662 "Is the project still maintained?"
Hello,

Just wanted to ask @drymek @rkostrzewski @adamrapala @Lukasz-pluszczewski @adam-golab @szymonbrainhub @damian-szulc @matthew-the-equine if the project is still maintained, as it does not seem there is a lot of activity from August 2020...

Also it seems that most repos @brainhubeu looks inactive from around that moment.

Thank you!!

[2020-11-14 09:36] chauchinyiu opened #663 "Remove the current Images from Carosel and load a new set of images."
Hello, I try to load different set of images in the carousel, however when i load a new set of images. the previous set of images is always there. i have to click the arrow button in order to show the new set of images in the carousel. the following code is my code. Is there any function to make carousel to remove all the images? Thanks for your attention

[code]

[2020-11-19 07:31] CristhianParra commented on #656
Downgrade a version and it's working for me
npm i @brainhubeu/react-carousel@^2.0.1

[2020-11-19 16:55] #645 closed

[2020-11-19 17:06] RobertHebel commented on #645
:tada: This issue has been resolved in version 2.0.2 :tada:

The release is available on:
- [npm package (@master dist-tag)](https://www.npmjs.com/package/@brainhubeu/react-carousel/v/2.0.2)
- [GitHub release](https://github.com/brainhubeu/react-carousel/releases/tag/v2.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-20 09:11] #660 closed

[2020-11-21 12:10] cristiangrojas commented on #633
@mnelemans what's the right way to install the latest commit from your PR?

I can't find a way to do that.

[2020-11-24 04:01] MasonWang025 commented on #661
Yep! Nothing from the docs work without installing v2.

[2020-11-26 09:13] ruaanvds commented on #63
Just in case this helps someone - I worked around this issue by just wrapping the carousel in a div with `display:block; width:100%`.

[2020-12-03 15:30] Lukasz-pluszczewski commented on #662
Hi, sorry for the delay, we have a really busy time.
Yes, we will look into issues and PRs as soon as possible. Sorry once again for inconvenience.

[2020-12-03 15:32] Lukasz-pluszczewski commented on #661
Hi, sorry for the delay, we have a really busy time. We'll most likely change the `latest` version to 2.0.2 soon.

[2020-12-17 16:17] qchuchu commented on #649
Yep I had the same problem on my project. It's because the breakpoint type is not good. If you change your node modules types to :

[code]

It will work properly :)

I will propose a PR soon to fix it !

[2020-12-24 16:12] J-Protz commented on #648
I have this same issue but I am not using HtmlWebPackPlugin.

[2020-12-27 09:25] Lagicrus opened #665 "Too many carousel items"
**Describe the bug**
I have 34 Carousel Items were there should only be 5 visible

**To Reproduce**
Create a basic carousel (with say 5 children), then enabled infinite
This can also be seen by going to [the docs](https://brainhubeu.github.io/react-carousel/docs/examples/infinite) and removing `infinite` from the JSX, the children count shrink down to just 3 instead of the many there were.

**Expe

[2020-12-27 14:10] smenshikov commented on #648
I use Next.js and I see the same issue

[2020-12-30 18:35] cratag commented on #655
I've changed the css with no effect.

[2020-12-31 08:10] beamercola commented on #648
Gatsby and seeing same issue

[2021-01-04 15:24] marpstar commented on #633
I got this working by

1. Clone @mnelemans 's fork
2. `yarn`
3. `yarn build`
4. Copy the contents of `react-carousel/lib` into my project's `node_modules/@brainhubeu/react-carousel` folder and overwriting the existing files.

After rebuilding my create-react-app project, everything seems to work.

[2021-01-05 17:26] DjalmaP commented on #650
Hi!
the plugin properties have this option, for example:

`
        <Carousel
          value={value}
          plugins={[
            {
              resolve: slidesToShowPlugin,
              options: {
                numberOfSlides: 4,
              },
            },
          ]}

`

[2021-01-06 17:09] withewolf-dev commented on #637
How did Got on the latest version ? If you do npm install @brainhubeu/react-carousel I get v1.19.26

[2021-01-07 16:41] gknapp opened #666 "Recoil memory leak with unmounted component?"
**Describe the bug**
I'm seeing warnings in the console. Application behaviour appears unaffected.

My app renders a carousel with scroll buttons if the header width becomes _too cramped_. If the users expands the browser window wide enough, the whole list of items is rendered instead.

When the carousel is rendered the following console warnings appear:

**To Reproduce**
Another user on stackover

[2021-01-08 18:38] AlexKvazos commented on #636
The carousel seems to internally manipulate the dom without React so anytime you re-render it it will clear the dom manipulations and render blank. Seems like this is not possible to fix with the current architecture. Having the same issue and gave up in favor of https://www.npmjs.com/package/pure-react-carousel

[2021-01-10 21:28] crbilladeau commented on #633
@mnelemans and @marpstar this worked beautifully, thank you for the detailed fix!

[2021-01-11 16:28] sudravi opened #667 "Carousel scrolls by itself when re-rendered, using infinite option"
**Describe the bug**
The CodeSandbox below demonstrates the problem. It has two tabs, one with Carousel and one blank. If you switch between tabs, you'll notice the tab with Carousel scrolls by itself when it's re-rendered. This only happens with the infinite option enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/react-carousel-forked-y5ii2
2. Click on

[2021-01-12 02:26] sudravi commented on #666
I'm getting this warning as well. It's happening when react-dom is 16.13.0 or higher.

[2021-01-12 03:32] CitizenBeta commented on #637
@withewolf-dev change your package.json to this:

[code]

[2021-01-13 16:38] marcoskichel commented on #666
Getting the same warning

[2021-01-14 13:51] astriskit opened #668 "Install warning: @brainhubeu/react-carousel@2.0.2" has incorrect peer dependency "react@^16.8.0""
**Describe the bug**
Adding the library to the project logs warning of incorrect peer-dependency - react@^16.8.0

**To Reproduce**
Steps to reproduce the behavior:
1. yarn add @brainhubeu/react-carousel@^2
2. After the install is done, the warning could be seen on the console.

**Expected behavior**
Shouldn't show the warning.

**Screenshots**
If applicable, add screenshots to help explain your pr

[2021-01-14 21:19] renchris commented on #63
i still have this issue. the min-width: 0 or div with display:block; width:100% particularly didnt work for me

[2021-01-14 22:09] samcohen9617 commented on #583
This fix does not work! When the carousel is set to infinite and you change the width of the carousel items the logic that moves the carousel fails. For me it continues to jump back to the end of the carousel when it is about to complete a full iteration.

[2021-01-15 14:47] jsango2 commented on #666
me too!

[2021-01-21 22:08] phil7j commented on #666
Same warning, also on react 16

[2021-01-22 16:59] strindhaug opened #670 "Add before and after and offset from selected classNames"
**Is your feature request related to a problem? Please describe.**
I've been experimenting with using the centered carousel showing multiple items at once, and having the middle one (i.e. the selected item) be larger than the others. I've fixed that using css `transform: scale(.85);` on every item and `transform: scale(1);` on the selected one which works fine; except it makes the spacing seem une

[2021-01-24 13:59] takeshi-evan commented on #667
Same problem here

[2021-01-26 10:13] strindhaug commented on #670
I changed the term from "offset" to "relindex" in my PR to avoid confusion with the other usage of "offset" in the same component. Updated the description here.

[2021-01-29 07:09] frafra commented on #323
As #483 has been marked as duplicate of this issue, but I see no mention of fading behaviour, so I mention that in this message in order not to lose that suggestion.

[2021-01-29 12:24] Amheklerior commented on #637
I've had the same problem, working on a react/typescript project.

I was using the following Dependencies:
- `react: "17.0.1"`
- `react-dom: "17.0.1"`
- `@brainhubeu/react-carousel: "2.0.2"`

and devDevendencies:
- `typescript: "4.1.3"`
- `@types/brainhubeu__react-carousel: "2.0.2"`

Downgrading `react` and `react-dom` versions to **16.8.0** (which seem to be peer dependencies of the **2.0.2** ver

[2021-01-29 12:32] Amheklerior commented on #656
I've had the same issue using v2 of the library in a _react/typescript project._

I solved the issue downgrading `react` and `react-dom` versions to match the peer dependencies of the library: **16.8.0**.

I put more details here: https://github.com/brainhubeu/react-carousel/issues/637#issuecomment-769775003

[2021-01-30 20:20] AndreySurzhan commented on #643
Any updates folks? Thanks

[2021-02-02 15:53] katiawheeler commented on #637
Any update on this? Also experiencing this issue.

[2021-02-03 04:07] fmsthird opened #672 "TypeError: e.resolve is not a function"
**Describe the bug**
A clear and concise description of what the bug is.
- I was trying to use two plugins `arrowsPlugin` and `slidesToShowPlugin`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://brainhubeu.github.io/react-carousel/docs/examples/customArrows#custom-arrows](https://brainhubeu.github.io/react-carousel/docs/examples/customArrows#custom-arrows)
2. Add `slidesToShow

[2021-02-04 15:11] davidgoldcode opened #673 "NPM is pointing to v1"

[2021-02-04 16:58] alexgamadev commented on #673
Had about half an hour of frustration before I realised this, the docs really shouldn't point to v2 if NPM doesn't yet.

[2021-02-04 22:49] sudravi commented on #633
Got it working in development mode using instructions provided by @marpstar. Since node_modules isn't usually checked in for production, is the long-term fix to wait for the PR in #646 to be merged?

[2021-02-05 02:43] ArmedVeteran commented on #633
I've got the same issue, but I'm deploying automatically on Vercel. Is there any way to solve this or do we have to wait for PR?

[2021-02-05 09:36] pkocak opened #674 "Slider gets stuck on mobile platforms"
I'm using a component which you can click on images in carousel and that image is being displayed bigger above. I have 5 other images in queue other than the 4 shown. Issue is that, in mobile platforms like tablets or smartphones if i click an image in carousel, it stucks and i cant show next 4 images with neither dragging nor clicking arrows left or right . However it works perfectly fine in pc w

[2021-02-06 09:36] chris-at-lemon opened #675 "Link to videos in slides"
Hi all,

I wasn't able to find a sample with videos in slides. Ideally I would be able to link them from YouTube/Vimeo. Is this possible?

So far I like everything about this carousel, much better than any I have tried. But without video it is of no use to me.

Thanks :)

[2021-02-09 03:16] omar-ehab commented on #643
Any update about this issue?

[2021-02-09 21:37] bunge12 commented on #665
Same issue here :/

[2021-02-13 02:54] kiuka opened #676 "onChange won't fire in version 2.0.2"
**Describe the bug**
Hey guys, I'm trying to setup a carousel, but I have faced some issues with the latest version (2.0.2).

First of all it fills the console with warnings:

![image](https://user-images.githubusercontent.com/11283191/107839846-c8785b00-6dae-11eb-8acb-5bab4336eecc.png)

And my other problem is that the onChange event never fires. I have created a small snippet: https://codesandbo

[2021-02-14 07:38] dorivix opened #677 "Super expression must either be null or a function when using webpack"
Hi,
I'm trying to use this package with webpack (terser plugin) and i'm getting this error.
When I remove the minimizer and the Terser Plugin, I don't get any error.
I was trying to look for solution but didn't find any.

This is the configuration I use
[code]

and these are the versions:
[code]

Thanks

[2021-02-15 18:41] AndreySurzhan commented on #666
Same here!

[2021-02-16 06:49] propstg commented on #673
Wish I had looked at the github issues sooner. And wish I could say it was only half an hour of frustration here, lol.

[2021-02-24 19:16] renato commented on #298
Any update on this? Is anyone still working on this issue?

[2021-02-24 19:16] renato commented on #376
Any update on this? Is anyone still working on this issue?

[2021-02-25 01:38] aayush420 commented on #298
The PR is basically finished ages ago. The team is not finding time to merge it, it seems.

[2021-02-26 00:42] internwt commented on #376
i will fix this issue

On Thu, Feb 25, 2021 at 12:47 AM Renato Atilio <notifications@github.com>
wrote:

[2021-03-01 18:29] SC7639 opened #679 "Carousel bluring when clicking next or previous buttons"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Load page
2. Click on next button or previous button

**Expected behavior**
Scrolls the images without them blurring

**Screenshots**
https://user-images.githubusercontent.com/6049560/109541401-ad4e6080-7abb-11eb-9283-4937164a1fcd.mp4

**Environment**
- please paste the re

[2021-03-03 11:27] pkocak opened #680 "RTL support"
Carousel doesn't support RTL. When i change my page dir RTL my images in ul with className=".BrainhubCarousel .BrainhubCarousel__trackContainer .BrainhubCarousel__track.BrainhubCarousel__track--transition" changes correctly however, this ul's translateX always gives minus number pixels.

Solution can be changing translateX to positive number pixels of ul with className=".BrainhubCarousel .Brainhub

[2021-03-04 14:16] mfaizan1 opened #681 "Carousel is undefined in nextjs"
**Describe the bug**
I am trying to use carousel in reactjs it was working fine and now i am moving to nextjs.

**To Reproduce**
Steps to reproduce the behavior, here is faily simple implementation of carousel i am trying to achieve, there is a lot of more code to be added but this should work as it in current state then i can move forward
[code]
**Expected behavior**
Carousel chould render withou

[2021-03-07 03:29] RahmanQureshi opened #682 "Support <inputs> inside carousel items"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
I would like to have inputs, text areas, selects inside the carousel

**Describe alternatives you've considered**
Writing my own carousel or using another library.

**Additional context**
N/A

[2021-03-07 03:33] RahmanQureshi commented on #682
actually I figured it out. You can do draggable={false}

[2021-03-07 03:33] #682 closed

[2021-03-10 13:31] pkocak commented on #666
Same issue here with react 17.0.1. My production build stops working because of this problem.

[2021-03-13 00:44] IanEisenberg commented on #674
Did you ever figure out the cause of this? Or a workaround? We are dealing with a similar issue.

[2021-03-13 07:23] pkocak commented on #674
Unfortunately, i couldn't find a solution.

[2021-03-18 08:31] MBogdan18 commented on #676
You need to add the value prop to the Carousel component in order to get the value from the onChange method prop. As for the console warnings, I don't have a solution for that as I'm struggling with it myself.

Also, since the issue's title seems to be relevant to my problem, I will also add that onChange doesn't fire when the autoplay plugin is added into the mix. This for instance doesn't set th

[2021-03-23 15:43] RonLek opened #684 "[BUG] Fails on npm build"
**Describe the bug**
When I'm trying to do an `npm build` of my react app and trying to serve it from my express server, the entire layout crashes. It works fine when running in development mode without build.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the Carousel component as usual.
2. Do an `npm run build` and proxy it from the express server. The script I'm using to do this is a

[2021-03-23 18:37] hadron43 opened #685 "Uneccessary padding on Safari"
**Describe the bug**
There's unnecessary padding in the carousel on Safari browser. It works fine with all other browsers like Chrome and Firefox.

**To Reproduce**
This is my personal project: https://achievements-portal.vercel.app/
Carousel Code: https://github.com/hadron43/achievements-portal/blob/master/src/pages/Home/Banner.jsx

This is not working as expected on Safari.

**Expected behavior*

[2021-03-24 23:18] BCarroll524 commented on #666
Same issue here as well. Using react and react-dom 16.14.0. In production, this error takes down my app. Any suggested fix would be much appreciated.

[2021-03-25 22:06] marouane-edghoughi commented on #665
Same issue (-_-)

[2021-04-07 10:21] rstefek commented on #633
Please merge that PR, this is quite annoying bug

[2021-04-07 17:57] danieljaguiar commented on #633
Indeed! This need to be merged.

[2021-04-12 21:52] RobertHebel commented on #661
the latest channel now points to the v2

[2021-04-12 21:52] #661 closed

[2021-04-12 21:52] RobertHebel commented on #673
NPM from now on points to v2

[2021-04-12 21:52] #673 closed

[2021-04-13 05:25] mhatvan commented on #376
Any news? Would be great to have v2 working for Gatsby.

[2021-04-13 22:55] plezploz opened #689 "Error only in development side"
**Describe the bug**
There is a error in the console only in development. This isn't that big of a deal but is kinda annoying.

**To Reproduce**
Steps to reproduce the behavior:
React code:
import Carousel, { Dots } from '@brainhubeu/react-carousel';
import '@brainhubeu/react-carousel/lib/style.css';
import { useState } from "react";

function ImageCarousel({ images }) {
    const [value, setValue

[2021-04-14 17:17] BrunoQuaresma commented on #681
@mfaizan1 did you find a good alternative for this?

[2021-04-14 17:21] mfaizan1 commented on #681
yes i moved to [react-responsive-carousel](https://www.npmjs.com/package/react-responsive-carousel)

[2021-04-15 07:26] mhatvan commented on #689
Experiencing this as well.

[2021-04-16 19:17] txm3278 commented on #668
This breaks installation on newest versions of npm with the error.
The fix would be to update the peer dependencies to allow the newest version of react

[2021-04-19 07:47] rugheid opened #690 "onChange not called by autoplay plugin"
**Describe the bug**
When the slide changes because of autoplay, the onChange handler is not called. This way you can't correctly control the component while using autoplay.

**To Reproduce**
Steps to reproduce the behavior:
1. Use controlled carousel with autoplay plugin enabled.
2. Put a console.log statement in the onChange handler.
3. Notice that it doesn't fire when autoplay advances.

**Expe

[2021-04-19 12:12] knnhcn commented on #649
hi @qchuchu, is there any update on that?

On the latest versions I still get the typing `breakpoints?: Pick<CarouselProps, Exclude<keyof CarouselProps, "breakpoints" | "plugins">>;` which doesn't seem to work.

[2021-04-20 09:25] erdim-turkay opened #691 "Multiple Carousel in one component problem"
Hello there,

I used this plugin for my latest project, but i stuck on weird bug. When i use the Carousel multiple time in one component ,
buttons interfere with each other. When i click the thumbnail button, other bottom carousel items disappear. When i click the bottom carousel button again , items come back. How can separate this two carousel or fix this problem?

Thank's a lot

![Screen Shot 2

[2021-04-20 11:07] Muntasir2001 opened #692 "How to make the swiping of the slides faster?"
Hello everyone

This is more like a question about how to do stuff. I want to make the swiping of the carousel faster in mobile version of the webpage. Right now, what I can see is the carousel stops after swiping it, I want it to be free.

Anyone knows how to do this or which props/plugins to use? I have tried "fastswipe" but it does not make any difference tbh.

Also, swiping the carousel on pho

[2021-04-22 09:04] GuySpotnix commented on #689
+1

[2021-04-22 20:59] danicunhac commented on #681
It seems that
[code]

doesn't work right now, I've manage to import it by not destructuring:
[code]

[2021-04-23 19:55] soermejo commented on #681
what's dynamic() function?

[2021-04-23 19:58] soermejo commented on #681
it doesen't work to me for nextjs, how did you make it work?

[2021-04-23 20:09] danicunhac commented on #681
dynamic is a nextjs' function to do dynamic imports, imported from 'next/dynamic'.

Anyway, I've changed lib to nuka-carousel, as it lets the developer to better customize the arrows and it's container

[2021-04-24 09:34] soermejo commented on #681
Thanks @danicunhac. I have tried your import and it works but as soon as i try to import Dots it fails with the error from @mfaizan1 . I was looking for a carousel lib to already handle the thumbnails images but nuka-carousel doesen't have. Does it at least support nextjs?

[2021-04-24 14:31] danicunhac commented on #681
It does, and you don't neeed to use dynamic import for it. I didnt use the react-carousel Dots, but I managed to import it normally

[2021-04-24 17:47] soermejo commented on #681
Yes, import works but using the example for thumbnails, doesen't work anymore with that error

[2021-04-26 03:54] talmax1124 opened #695 "Can we use div's instead of IMG Tags?"

[2021-04-26 10:47] erdim-turkay commented on #691
Yeah, i figured out. I think if you render two carousel in one page, you must separate value and onChange function. Problem is infinite props. It's interfere with each other.

[2021-04-26 10:47] #691 closed

[2021-04-28 20:38] rheng001 commented on #672
Facing the same problem, any updates?

[2021-05-01 14:45] anthonyrovira commented on #668
Hi, same issue here:
[code]
Too bad, it looked great

[2021-05-01 16:04] danicunhac commented on #681
I haven't tried to use the thumbnails

[2021-05-03 11:44] perfoodora commented on #666
Having problems with this aswell

[2021-05-11 01:23] tramax commented on #287
If you use Dots and have problem with `undefined` component using the  `{ default: Carousel, Dots }` import syntax mentioned in the readme, try importing like this:
[code]

[2021-05-11 11:11] stefanpl opened #706 "Question about mentioning slick"
Hi,

in the readme it says:

After doing some research on sliders in react, I found [this react **port** of slick](https://github.com/akiran/react-slick). Isn't that exactly the package which the readme claims to not exist?
- If it's not, I'd be very interested to hear why, because I'm starting to get really confused here 🤷‍♂️
- Otherwise I think it would be fair for both the maintainers of react-

[2021-05-11 16:14] tramax opened #707 "Cannot update a component while rendering a different component. Probably due to bad setState()"
**Describe the bug**
React issues a warning about bad setState when the Carousel component is used

**To Reproduce**
Steps to reproduce the behavior:
1. Install `10.2.0`
2. Install `react-carousel 2.0.3`
3. Dynamic import the carousel component like so (as NextJS SSR crashes using normal import)
[code]
5. Use the carousel
6. See error in Chrome console

**Expected behavior**
A clear and concise de

[2021-05-17 13:45] kb1995 commented on #707
@tramax Were you able to fix this error?

[2021-05-18 11:53] stsiushkevich opened #708 "White stace"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
- please paste the res

[2021-05-18 11:54] #708 closed

[2021-05-19 19:31] KaliFuckers opened #709 "Warning: Cannot update a component (`re`) while rendering a different component (`wi`). To locate the bad setState() call inside `wi`, follow the stack trace as described in"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
- please paste the res

[2021-05-19 19:32] #709 closed

[2021-05-19 19:36] KaliFuckers opened #710 "Warning: Cannot update a component (`re`) while rendering a different component (`wi`). To locate the bad setState() call inside `wi`, follow the stack trace as described in"
![Captura de pantalla (3)](https://user-images.githubusercontent.com/26528044/118873294-939d0800-b8b7-11eb-9ff2-1e80bdfe0002.png)

[2021-05-20 02:28] rheng001 commented on #707
Facing the same issue

[2021-05-20 02:28] rheng001 commented on #710
Facing the same warning

[2021-05-20 14:14] haniotis commented on #651
👍

[2021-05-21 00:02] arnonate commented on #710
Me too... looks to be a RECOIL problem.

[2021-05-21 00:07] arnonate opened #711 "Custom Arrow Plugin Setting Right Arrow Class Incorrectly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Use the custom arrows plugin:

[code]

Inspect the DOM. Both arrows get the classList `BrainhubCarousel__customArrows BrainhubCarousel__custom-arrowLeft`

**Expected behavior**
The right arrow should have a `custom-arrowRight` class applied.

**Screenshots**
<img width="460" alt="Screen Shot 2021-05-20 at 7

[2021-05-23 12:55] tramax commented on #707
@kb1995 unfortunately not yet 😄 do you face the same problem with NextJS or another stack?

[2021-05-26 10:28] RobertHebel commented on #690
Thanks for your contribution 💪 . After merging it onChange is called by the autoplay plugin as well

[2021-05-26 10:28] #690 closed

[2021-05-26 10:30] RobertHebel commented on #676
as @MBogdan18 you need to provide `value` prop in order to make `onChange` work

regarding onChange with autoplay plugin, the issue has been fixed in v2.0.3

[2021-05-26 10:30] #676 closed

[2021-05-26 10:32] RobertHebel commented on #680
For RTL use please add the `RTL` plugin to your carousel as described here
https://brainhubeu.github.io/react-carousel/docs/examples/rtl

[2021-05-26 10:32] #680 closed

[2021-05-31 15:16] vittau commented on #710
Same issue here.

[2021-05-31 20:03] Maclay74 commented on #710
Same problem. Any solution?

[2021-05-31 20:26] Maclay74 opened #714 "Why there is no working carousel for React?"
I feel like I tried all of them.
This one was the most promising, but still doesn't work at all.

Why we don't have any working solution? Why for JQuery all of them are working, more or less, but front-end, even more advanced field, has no one single working carousel?

Why am I saying that it doesn't work? Because it doesn't!
When you install it and try to implement the most basic example, you got

[2021-05-31 20:30] Maclay74 commented on #714
And, you know, bugs are okay.
If you open tracker of any widely-used software, there are hundreds of them.

But almost all of them because of advanced usage, when you doing something odd, not trivial.

I am just trying to follow the README tutorial and faced bug-wall, cmon!

[2021-05-31 20:42] Maclay74 commented on #714
![image](https://user-images.githubusercontent.com/5504685/120240544-20a17300-c261-11eb-8b44-5e8fb0cf001a.png)

Are you seriously using this?

Is `React.Children.toArray(this.props.children)` just a joke?
Of course it won't work!

[2021-06-04 14:16] Beelphegor commented on #714
Your ramblings are not useful in any way, you should consider contributing to the project instead.

[2021-06-08 08:26] Lokom17 commented on #710
Have the same issue

[2021-06-08 17:37] vittau commented on #665
Same problem, it just keeps adding more and more items as it scrolls.

[2021-06-09 22:46] ryansrofe commented on #710
same

[2021-06-10 17:14] shaunstoltz commented on #710
I got this working by used the source and removing all the scss imports as they were bugging in my build environment. Simple import of the index.js file from the src directory here https://github.com/brainhubeu/react-carousel/tree/master/react-carousel/src and the errors about setState were resolved.

[2021-06-10 17:16] shaunstoltz commented on #707
Same issue... this is a critical bug, make this lib gargbage

[2021-06-10 17:25] shaunstoltz opened #721 "Garbage with no support?"
#710 and #707 are critical, if this is no longer supported, say so.

[2021-06-10 18:32] shaunstoltz commented on #721
Closed

[2021-06-10 18:32] #721 closed, assigned to nobody

[2021-06-10 18:34] shaunstoltz commented on #714
I got this working by used the source and removing all the scss imports as they were bugging in my build environment. Simple import of the index.js file from the src directory here https://github.com/brainhubeu/react-carousel/tree/master/react-carousel/src and the errors about setState were resolved.

[2021-06-10 18:35] shaunstoltz commented on #707
I got this working by used the source and removing all the scss imports as they were bugging in my build environment. Simple import of the index.js file from the src directory here https://github.com/brainhubeu/react-carousel/tree/master/react-carousel/src and the errors about setState were resolved.

[2021-06-11 17:54] vittau opened #722 "Autoplay without Infinite appears to have unexpected behavior"
**Describe the bug**
When the autoplay plugin is used without infinite, two things happen:

- at the end, it just stays in the last slide instead of going back to the first one;
- however, the onChange callback is fired with an out of bounds increment (which causes Dots to wrap back to the beginning, but the carousel remains in the last slide).

**To Reproduce**
Create a carousel with autoplay, bu

[2021-06-12 17:12] Maclay74 commented on #714
Yes, if this would at least build on local machine. They messed with dependencies and I don't want to spend my day fixing their bugs.

I'd faster implement it by myself from scratch

[2021-06-14 22:05] Maclay74 opened #723 "Every single aspect of this carousel is buggy"
They. Have. Tests.
But you know what's funny about tests? They should be properly written too.

Alright, I fixed the most obvious bug ever, can't imagine how they come so far with it.
Not going to do any helpful things for those, who created this, but for community.

First of all, you have to get rid of `node-sass`. It's deprecated and not going to work with Python39, but developers don't seem to

[2021-06-14 22:40] Maclay74 commented on #714
Thanks God, I found it!
Don't waste your time, use `swiper`, it works.
https://swiperjs.com/

[2021-06-15 09:04] Lokom17 commented on #649
Hi, @qchuchu do you have any updates regarding breakpoints?

[2021-06-15 09:07] Lokom17 commented on #668
The same

[2021-06-15 14:33] pittkost commented on #710
same

[2021-06-17 13:38] tramax commented on #707
Hi Shaun. Do you use dynamic import via `'next/dynamic'`? Would you be able to post a screenshot or a snippet of your code? Thank you

[2021-06-17 15:53] shaunstoltz commented on #707
Hi, sorry I abandoned this in favor of https://github.com/akiran/react-slick that just seems to work our of the box

[2021-06-19 15:50] tonystanktinio commented on #668
It works on yarn, not in "npm i @brainhubeu/react-carousel". Try to install yarn and after that yarn add @brainhubeu/react-carousel.

[2021-06-21 09:58] tysbrown commented on #287
Was having this issue only when deploying to Netlify, everything ran fine on my local Gatsby dev server.

@piotr-s-brainhub Your patch worked great! Thanks for the fix.

EDIT: I spoke too soon, now for some reason the plugins aren't working? Specifically the slidesToShowPlugin and arrowsPlugin.

LATEST EDIT: Rather than using the older version/patch, Gatsby has a solution for these kinds of SSR er

[2021-06-24 08:04] mtShaikh commented on #162
When will this be integrated?

[2021-06-29 10:07] AgainPsychoX commented on #723
I have recently so much issues with the library... Got back to some older project, after "updating" to v2 version everything is so buggy... New plugins system feel horrible IMO, and on top of that something deep down die every so often...

[2021-06-29 10:08] AgainPsychoX commented on #710
Same issue here. Upgrading to v2 was so bad choice for me... Plugins system feels horrible, there are ton of bugs all over the place :C

[2021-06-29 17:27] vaporwavie commented on #723
It is truly tough to handle sometimes, and this is the most stable carousel project we have available nowadays, which makes the whole situation even worse. There are some major inconsistencies going on with this project and at times it seems that the maintainers don't even care about it anymore.

[2021-06-29 19:13] vaporwavie commented on #162
@mtShaikh it's unlikely to happen, you'd most certainly find it more useful to look for alternatives to this library or attempting to create your own vertical mode through CSS along with other workarounds.

[2021-07-01 20:39] Adolfouv opened #726 "Link to pages like href=""?"

[2021-07-01 21:13] #726 closed, assigned to nobody

[2021-07-09 08:15] waltcow commented on #710
buggy buggy buggy

[2021-07-10 10:54] ebaldacchino commented on #689
+1

Fixing the issue is way over my head, but based on the JS stack, the error's showing on line 69 inCarousel.js, which is:

setStrategies(strategies)

(anonymous) @ recoil.js:1431
replaceState @ recoil.js:1576
(anonymous) @ recoil.js:756
B @ recoil.js:611
et @ recoil.js:756
anonymous) @ recoil.js:2100
wi @ Carousel.js:69

[2021-07-12 14:58] vaporwavie commented on #689
This will potentially get fixed by https://github.com/brainhubeu/react-carousel/pull/724

[2021-07-17 16:38] jbrainz opened #727 "cannot add breakpoint porps"
i tried to add breakpoint porps using plugins, got a weird error.
i am using typescript with react and the error i am getting is about wrong props passed.

[2021-07-17 16:41] jbrainz commented on #727
![Uploading Screenshot from 2021-07-17 17-40-15.png…]()

[2021-07-21 05:10] eggachecat commented on #244
here's another workaround for functional components. I found comparing the aspect of deltaY aspect to deltaX is more accurate in my case

[code]

[2021-07-27 13:30] taffarelemilio opened #728 ""infinite plugin doesn't work""
If 'infinite' is active, the carousel disapeears on scroll.

[2021-07-31 22:36] morsaken commented on #728
when using the "infinite" plugin, it works but this error throws:

[code]

[2021-08-16 13:04] jonathandsouza opened #730 "Carousel fails when we use the itemWidth setting along with the infinite setting."
Hi there,

First of all, I would like to thank you for this amazing plugin it almost checks all of my requirements.

However, I did find an issue when I use the itemWidth setting along with the infinite setting. Please find the reproduction steps below.

example: https://stackblitz.com/edit/react-ts-ke7fxn?file=index.tsx
output:  https://react-ts-ke7fxn.stackblitz.io

If you notice the output, the

[2021-08-23 03:02] Thanhtung1998 commented on #254
I am newbie and i am using your carousel library i found out when turning page your component is warning memory lake how can i fix this

[2021-08-23 21:11] brunobraga95 commented on #674
Same problem here, it simply gets stuck if one clicks on it

[2021-08-24 15:16] dasilvaluis opened #731 "Module parse failed: Unexpected token on react-carousel.js"
**Describe the bug**
I got this error when running a webpack build, which finds react-carousel.js in the dependencies.
React-carousel is a dependency of a repo  that is being used in my project. It is not being imported into my code.

It is a React project with JS (no typescript). It has a standard webpack config, using babel-loader, but of course ignoring node_modules.

Strangely I have another p

[2021-08-25 11:57] lorraineS commented on #287
Do you have a more concrete example on the implementation of your carousel?

My carousel looks like this:

[code]

Do I have to take it out of my page and make it a component (with all the complications that this can cause?)

Thanks @tysbrown

[2021-08-25 12:47] lorraineS opened #732 "Gatsby Build - SSR failed"
Hello,

I've been trying to use react-carousel in my project, while it works in development, it doesn't when I try to build.

I have read all the posts that deal with this problem and I manage to partially solve it EXCEPT when I have to use **slidesToShowPlugin** and **autoplayPlugin**.

Here is my import which works locally :
`import Carousel, { slidesToShowPlugin, autoplayPlugin } from '@brainhu

[2021-08-25 13:10] lorraineS commented on #681
Did you find a solution to make the plugins work? Thanks ...

[2021-08-25 13:11] lorraineS commented on #287
How did you make the plugins work (slidesToShowPlugin, autoplayPlugin, etc ...) ?

[2021-08-26 11:36] jesper-nord commented on #723
I switched to [Flicking](https://github.com/naver/egjs-flicking/blob/master/packages/react-flicking/README.md) instead, works a lot better and seems to be the most stable and mature out of the 10+ libraries I've evaluated.

[2021-08-31 20:54] krehwell commented on #681
Edit: this only works on firefox :(

For me I make it only Carousel imported using dynamic.  This way works for  me:
[code]

And in case worry for css import I do it like so
[code]

[2021-09-10 22:12] dbloembe commented on #681
Has anyone found a fix for this? Having the same issue as @pdugan20:

Seeing this error:
<img width="1035" alt="Screen Shot 2021-09-10 at 6 12 16 PM" src="https://user-images.githubusercontent.com/25187806/132922976-d947aad3-bfad-41d5-868c-7a72508af8b3.png">

@piotr-s-brainhub could you help us out?

[2021-09-11 11:52] amitdhiman000 commented on #732
I can't use it in **nextjs**
[code]
It would be great to have SSR support.

[2021-09-13 15:41] ArcanumLibella commented on #711
Hi ! I have the same issue !

[2021-09-13 23:11] mneira10 opened #734 "Support React 17.x"
Hey! Thanks for such a cool library!

Currently, `react-carousel` supports up to version `16.8.0` of react. It would be awesome if it would support `17.x`!

[2021-09-14 13:54] amymorrisonsky commented on #734
May I ask what issues you ran into?

[2021-09-17 08:22] m99coder commented on #734
If your project uses React 17, an `npm install` will fail and only succeed with the `--legacy-peer-deps` flag as follows:

[code]

Luckily it works out of the box in React 17. Just annoying that you have to use this dangerous flag for installing it.

[2021-09-18 11:28] mhraihan commented on #734
I'm facing the same problem :(

[2021-09-18 13:06] mhraihan commented on #649
this issues does not slove yet, sad :/

[2021-09-19 06:09] AIEngKenn commented on #732
Facing the same issue: undefined (window) in SSR

[2021-09-19 12:05] qchuchu commented on #649
I just created a PR on DefinitelyTyped : https://github.com/DefinitelyTyped/DefinitelyTyped/pull/55862 - I'm kinda of new to this but I think I did it the right way. Maybe if you can upvote it, that would help to give more visibility ;)

Sorry for the delay, as I had a short notice to finish my project last time, I decided to use another library. But I think we need to make this change as it keeps

[2021-09-21 19:48] mneira10 commented on #734
Good to know! It would be better for the peace of mind to install it without the dangerous flag though

[2021-09-24 13:53] qchuchu commented on #649
My PR has been merged ! You should be able to use breakpoints now ;) You just need to upgrade your @types/brainhubeu__react-carousel, and I think we can close this issue :)

[2021-09-25 07:41] qchuchu commented on #727
Hey jbrainz :) I recently modified the Typescript definition for breakpoints - you should upgrade your types package, it should work now :)

[2021-09-28 11:49] dasilvaluis commented on #731
FYI it got fixed after I upgraded babel, from v6 to v7

[2021-09-28 11:49] #731 closed, assigned to nobody

[2021-09-29 12:22] tonygustafsson commented on #244
That's the best one without a doubt! :D Thanks man... solved it for me. Couldn't ask for less code.

[2021-10-05 04:46] Tran-Vinh-Quang commented on #710
Same

[2021-10-07 10:50] mclngl commented on #732
In these cases I usually wrap it into something like this:

`function Page({ render = "effect", children } = {}) {
  const [hasRenderedOnClient, setHasRendered] = React.useState(false);

  React.useEffect(() => {
    setHasRendered(true);
  }, []);

  if (render === "effect" && !hasRenderedOnClient) {
    return null;
  }

  if (render === "effect-seo" && !hasRenderedOnClient) {
    return <div st

[2021-10-08 17:20] bruno-mesquita commented on #674
Same problem here

[2021-10-11 04:19] oigabrielteodoro commented on #710
Same

[2021-10-11 07:12] christian-pletz commented on #734
Same issue here... Please update the dependency configuration.

[2021-10-11 07:15] flokress commented on #734
Would be great if react 17 is supported. please update the dependencies.

[2021-10-27 23:04] jrbruce86 commented on #666
Same issue here

[2021-11-03 11:49] andredaniel commented on #711
+1

[2021-11-13 04:54] fabianosanttana commented on #677
Up

[2021-11-13 11:48] krehwell commented on #663
I think re-rendering the carousel will do the trick.

when you received the new images, trigger a state to re-render the carousel
[code]

[2021-11-15 07:17] ibnujakaria opened #736 "RTL Plugin Infinite doesn't work"
**Describe the bug**

When the html element use `dir="rtl"` attribute, and we set the slider plugins with `['infinite', 'rtl']`, the slider is blank. But when I remove the `'infinite'` plugin, it works.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `dir="rtl"` on parent html element
2. Use plugins `['rtl']`
3. It works
4. Then use plugins `['rtl', 'infinite']`
5. It doesn't work and th

[2021-11-15 15:27] hijazikaram commented on #710
any updates

[2021-11-24 14:30] odairto commented on #710
Guys, I found a solution for my case: I'm using Redux to set the title of my pages.

In each page i had:
`dispatch(setTitle("Patrimony"));`

And then I changed to:

[code]

Reading a litle about it, have the same behavior of: componentDidMount and componentDidUpdate
source: https://reactjs.org/docs/hooks-effect.html

Hope I can help someone with this.

[2021-11-25 18:12] ghost commented on #732
why do you call this react-carousel? carousel doesn't work with react, gatsby, or next..there are 3 more closed(!) window issues related to this...dynamic import doesn't bring the module and why should we dynamic import anyway...

[2021-11-29 05:39] darwinva97 commented on #710
Same. I'm using Next with dynamic import and ssr: false.

[2021-12-06 15:28] klijakub commented on #711
+1

[2021-12-07 11:38] tinypell3ts commented on #730
I'm having the same issue, but I'm not using `itemWidth`.

[2021-12-18 10:03] KafkaWannaFly commented on #730
Me too. Also the same issue with the infinite plugin. The items inside the carousel appear for a short moment and disappear away.

[2021-12-18 23:30] tp00012x commented on #723
I agree this library is very buggy. Moving away... I had to mock this component as i was getting weird errors during my tests.
Is it possible to downvote a library?

[2022-01-24 10:57] #685 closed

[2022-01-24 12:19] felipenmoura commented on #172
So...this is a `major` problem, I get it (and agree).

Any update on that? This is pretty important stuff...
Any workaround that makes it work?

The problem really seems to happen only when there's the combination of arrows, dots and infinite.

[2022-01-25 06:25] rikinshah23 commented on #672
@fmsthird were you able to solve this issue ?

[2022-01-25 06:29] rikinshah23 commented on #672
I am having the same issue when using `slidesToShowPlugin`.
`TypeError: t.resolve is not a function`

below is my code -

[code]

[code]

[2022-01-25 06:57] rikinshah23 commented on #681
Use it like this for nextjs -

use dynamic to import the main Carousel component but import slidesToShowPlugin the normal way.
[code]

[2022-01-27 15:56] yaser-alazem commented on #674
What is the cause of this issue ? Anyone has an idea about it?

[2022-01-27 15:57] yaser-alazm commented on #674
What is the cause of this issue ? Anyone has any idea why?

[2022-02-25 14:38] Mixomoda commented on #734
Please support react 17.x

[2022-02-26 20:18] edcheyjr commented on #734
yes, please do

[2022-03-25 13:05] balean12 commented on #63
In order to solve this I actually did a combination of a new div with display: grid and width: 100% wrapped around the carousel

[2022-03-26 23:35] thisKeeWord commented on #734
please

[2022-03-29 10:11] olehwebdev commented on #681
Hi folks, I had the same issue in my monorepo project (Next.js/React-Native), I had two different `react` and `react-dom` versions inside for `Mobile` and `Web` packages.

[2022-05-05 19:27] aishwaryakarad commented on #668
I'm also getting the same error. My current react version is 18.1.0

<img width="579" alt="Screen Shot 2022-05-05 at 2 26 22 PM" src="https://user-images.githubusercontent.com/40347552/167010908-b4565ada-fbf2-41d9-bdd9-f0f59f8eacac.png">

[2022-06-27 16:12] gknapp opened #750 "Project still maintained?"
Last release was more than a year ago, not seeing issues being resolved. Wondering if this project is still maintained?

[2022-06-29 15:53] gknapp commented on #706
Having tried slick to replace this library, when it comes to the carousel - you need to install `slick-carousel` that has a peer dependency on jQuery. There's a note in the Getting Started guide:

[2022-07-14 09:31] JulioMARIE commented on #668
I get the same.Please how to fix...May i use react^16.8.0 ?
![image](https://user-images.githubusercontent.com/31286479/178950859-233408b7-e3f8-40c5-ab19-9cc40fe05f79.png)

[2022-07-14 10:01] JulioMARIE commented on #668
I solve like this -> npm i @brainhubeu/react-carousel -legacy-peer-deps
![image](https://user-images.githubusercontent.com/31286479/178957337-0f8c84dd-34fb-4f98-a4c0-8686814613f1.png)

[2022-07-14 20:57] sugheiry-alcala commented on #668
Muchas GRACIAS !!!! PROBLEMA SOLICUIONADO

[2022-10-23 06:37] T0x1c-Devel0per commented on #637
Hello, you must add this line of code.
`<Carousel <br>
            plugins={[
              {
                resolve: arrowsPlugin,
              }
            ]}`

[2022-11-08 20:43] EduardoNGomes commented on #734
https://gitmemories.com/sag1v/react-elastic-carousel/issues/235

[2022-11-21 20:20] dangolbeeker commented on #750
Dead but contributions welcome!